/* header */
@import url("/css/header.css");
/* contact */
@import url("/css/contact.css");
/* products */
@import url("/css/products.css");
/* footer */
@import url("/css/footer.css");
/* fonts */
@import url("/css/fonts.css");


/* mediaquerys */

@import "./media/media1024.css" screen and (max-width:1024px);

* {
  margin: 0;
  padding: 0;
  font-family: "Monstserrat-Bold", sans-serif;
}

