/* header */
@import url("header.css");
/* contact */
@import url("contact.css");
/* products */
@import url("products.css");
/* footer */
@import url("footer.css");
/* fonts */
@import url("fonts.css");


/* mediaquerys */

@import "./media/1024px/responsive1024.css" screen and (max-width:1024px);

* {
  margin: 0;
  padding: 0;
  font-family: "Monstserrat-Bold", sans-serif;
}

