* {
    margin: 0;
    padding: 0;
    @font-face {
        font-family: "Monstserrat-Bold";
        src: url("../font/Montserrat-Bold.ttf") format("ttf");
    }
    font-family: "Monstserrat-Bold", sans-serif;
    

    
}
@font-face {
    font-family: "nueva";
    src: url("../") format("ttf");
}



/* ----------------------------------- MAP -------------------------------------- */
@import "../scss/components/map.scss";



/*------------------------------------- HOME ------------------------------------*/
/* HEADER */
@import "../scss/base/home/header";
/* MAIN */
@import "../scss/base/home/main";



/*------------------------------------- PRODUCTOS ---------------------------*/
@import "../scss/base/productos/ihos";
/* iBox OR */
@import "../scss/base/productos/ibox";
/* iFarma */
@import "../scss/base/productos/ifarma";
/* iTraz */
@import "../scss/base/productos/itraz";
/* ID Pacientes */
@import "../scss/base/productos/id-pacientes";



/* ------------------------------ @Medias Query ----------------------------------*/
@import "../scss/base/@mediasQuery/query.scss";



/* EL BOTON SE REPITE EN VARIAS PARTES PERO CON DISTINTOS COLORES Y ALGUNOS ACTIVADOS Y OTROS NO
LO DEJO ACA PARA MAS ADELANTE ACOMODARLO BIEN */
.btn {
    color: blanchedalmond;
    /* sss */
    background: map-get($map, blue );
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), inset 15px 21px 40px rgba(9, 189, 228, 0.8), inset 10px 9px 12px #0595F0;
    border-radius: 150px;
    /* ssss */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 40px;
/*     border: 1px solid black; */
    border-radius: 50px;
        &:hover {
            /* hacer un gardient con colores de map get */
            background-image: linear-gradient( rgb(156, 214, 192), rgb(0, 219, 135));
            box-shadow: map-get($map , box-shadow-ligth );
        }
}

.btn-white{
    height: 58px;
    width: 287px;
    left: 0px;
    top: 0px;
    border-radius: 120px;
}















    /* Clases genericas */
.card {
    border: map-get($map, border-1 );
        .btn {
            margin: 1rem auto;
        }
    }

.center {
    margin: 1rem auto;
}

.col-sm-6 {
    width: auto;
}


/* MediaQuery */
/* .col-6 {
    width: 50%;
} */
