.img-main-idPacientes {
    position: absolute;
    width: 450px;
    height: 380px;
    left: 70px;
    top: 847px;
  }
  .ihos-container-img {
    height: 527px;
    width: 1220px;
    margin: 8rem auto 0 auto;
    border-radius: 10px;
    background-image: url("../../../img/imagenes-background/header-img.jpg");
    background-repeat: round;
    background-position: initial;
    background-size: cover;
  }
  .title-id_pacientes {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    line-height: 134.4%;
    height: 477px;
    width: 458px;
    left: 550px;
    top: 850px;
    border-radius: nullpx;
  }
  .text-id_pacientes {
    position: absolute;
    width: 400px;
    height: 477px;
    left: 550px;
    top: 900px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }
  .text-ibox b {
    font-weight: 700;
    font-family: Montserrat;
  }
  .title-idPacientes-end {
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;
    height: 63px;
    width: auto;
    margin: 0 auto;
    position: absolute;
  }
  /* modales */
  .content-idPacientes {
    display: block;
    top: 900px;
    position: relative;
  }
  .card-lite {
    position: absolute;
    width: calc(393px / 1.2);
    height: calc(771px / 1.1);
    left: 5px;
    z-index: 3;
    background: #f8f1f1;
    box-shadow: 4px 4px 18px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 8px;
  }
  .cover-lite {
    position: relative;
    width: calc(393px / 1.2);
    height: calc(158px / 1.2);
    background: linear-gradient(
      94.6deg,
      #0595f0 23.13%,
      #0595f0 73.39%,
      #2073a7 99.23%
    );
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25),
      inset 0px 4px 19px rgba(255, 255, 255, 0.6);
    border-radius: 10px 10px 0px 0px;
  }
  .title-cover-lite {
    position: absolute;
    width: calc(288px / 1.2);
    height: calc(135.8px / 1.2);
    margin: 2% 20%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 134.4%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sub-lite h2 {
    position: absolute;
    width: calc(297px / 1.2);
    height: calc(61px / 1.2);
    margin: 1rem 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  /* list ul lite */
  .ul-idPacientes {
    position: absolute;
    width: 317.04px;
    height: 440px;
    margin: 8rem 5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 350.4%;
    display: flex;
    align-items: center;
  }
  .ul-idPacientes-pro {
    margin: 18rem 5%;
    position: absolute;
    width: 326.5px;
    height: 467.96px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 350.4%;
    display: flex;
    align-items: center;
  }
  .ul-idPacientes-std {
    position: absolute;
    margin: 16rem 7%;
    width: calc(317.04px / 1.1);
    height: 440px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 350.4%;
    display: flex;
    align-items: center;
  }
  .ul-idPacientes ul,
  .ul-idPacientes-pro ul,
  .ul-idPacientes-std ul {
    list-style: none;
  }
  .ul-idPacientes ul img {
    margin-left: 4rem;
    width: 24px;
  }
  .ul-idPacientes ul img.li-2 {
    width: 24px;
    margin-left: 4.5rem;
  }
  .ul-idPacientes ul img.li-3 {
    width: 24px;
    margin-left: 5.28rem;
  }
  .ul-idPacientes ul img.li-4 {
    width: 24px;
    margin-left: 2.28rem;
  }
  .ul-idPacientes ul img.li-5 {
    width: 24px;
    margin-left: 8.6rem;
  }
  .ul-idPacientes ul img.li-6 {
    width: 24px;
    margin-left: 5.4rem;
  }
  .ul-idPacientes ul img.li-7 {
    width: 24px;
    margin-left: 0.45rem;
  }
  .ul-idPacientes ul img.li-8 {
    width: 24px;
    margin-left: 3.2rem;
  }
  /* PRO */
  .card-pro {
    position: absolute;
    width: calc(404.72px / 1.1);
    height: calc(820px / 1.1);
    left: 325px;
    top: 1515px;
    z-index: 5;
    background: #f8f1f1;
    box-shadow: 4px 4px 18px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
  }
  .cover-pro {
    position: absolute;
    width: calc(405px / 1.1);
    height: calc(168.34px / 1.2);
    background: linear-gradient(97.28deg, #0b9b8a 2.7%, #34deca 46.68%);
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
  }
  .title-cover-pro {
    position: absolute;
    width: calc(288px /1.2);
    height: calc(135.8px / 1.2);
    margin: 3% 22%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 134.4%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sub-pro h2 {
    position: absolute;
    width: 297px;
    height: 61px;
    margin: 12rem 1.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  /* std */
  .card-std {
    position: absolute;
    width: calc(393px / 1.1);
    height: calc(771px / 1.1);
    z-index: 3;
    left: 655px;
    top: 1549px;
    background: #f8f1f1;
    box-shadow: 4px 4px 18px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
  }
  .cover-std {
    position: absolute;
    width: calc(393px / 1.1);
    height: 158px;
    background: linear-gradient(97.74deg, #1e43e1 19.25%, #0595f0 58.35%);
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
  }
  .title-cover-std {
    position: absolute;
    width: 288px;
    height: 135.8px;
    margin: 3% 27%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 134.4%;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .sub-std h2 {
    position: absolute;
    width: 297px;
    height: 61px;
    margin: 12rem 4rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  /* contenido de modales abiertos */
  .cont-lite {
    position: absolute;
    display: none;
    z-index: 6;
    width: 85%;
    height: 1051px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 13px 12px #00000033;
    border-radius: 20px;
    margin: 0 8%;
    margin-top: -1rem;
  }
  .cont-lite-active {
    display: block;
  }
  .cont-lite h2 {
    position: absolute;
    width: auto;
    height: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 139.4%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 33%;
    margin-top: 127px;
  }
  .cont-lite p {
    position: absolute;
    width: auto;
    height: 70px;
    left: 97px;
    top: 216px;
    margin: 0 6%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 139.4%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .cont-pro {
    position: absolute;
    display: none;
    z-index: 5;
    width: 85%;
    height: 1051px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 13px 12px #00000033;
    border-radius: 20px;
    margin: 61.5% 8%;
    cursor: pointer;
  }
  .cont-pro-active {
    display: block;
  }
  .cont-pro h2 {
    position: absolute;
    width: auto;
    height: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 139.4%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 33%;
    margin-top: 127px;
  }
  .cont-pro p {
    position: absolute;
    width: 1014px;
    height: 210px;
    left: 97px;
    top: 189px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 139.4%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .card-content-subtitle-pro {
    position: absolute;
    width: 654px;
    height: 148px;
    left: 477px;
    top: 691px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.9%;
    text-align: left;
    color: #000000;
    border-left: 4px solid #1a242e;
    padding-left: 37px;
  }
  .card-content-sub-pro {
    position: absolute;
    width: 240px;
    height: 273px;
    left: 158px;
    top: 65%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.9%;
    text-align: right;
    color: #000000;
  }
  /* std */
  .cont-std {
    position: absolute;
    display: none;
    z-index: 5;
    width: 85%;
    height: 900px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 13px 12px #00000033;
    border-radius: 20px;
    margin: 61.5% 5%;
  }
  .cont-std-active {
    display: block;
  }
  .cont-std h2 {
    position: absolute;
    width: auto;
    height: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 139.4%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 33%;
    margin-top: 127px;
  }
  .cont-std p {
    position: absolute;
    width: 1014px;
    height: 70px;
    left: 30%;
    top: 242px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 139.4%;
    /* or 35px */
  
    display: flex;
    align-items: center;
    text-align: center;
  }
  .divisor-std {
    position: absolute;
    width: 364px;
    height: 0px;
    left: 422px;
    top: 724px;
    border: 2px solid #1a242e;
  }
  /* card content pacientes */
  .card-a-content-pacientes {
    position: absolute;
    width: 322px;
    height: 231px;
    left: 87px;
    top: 370px;
    background: white;
    border-radius: 10px;
  }
  .cont-pro div.card-a-content-pacientes {
    margin-top: 75px;
  }
  .cont-pro div.card-b-content-pacientes {
    margin-top: 75px;
  }
  .cont-pro div.card-c-content-pacientes {
    margin-top: 75px;
  }
  .card-a-content-pacientes p,
  .card-b-content-pacientes p,
  .card-c-content-pacientes p {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    position: initial;
    width: 254px;
    height: 135px;
    margin-left: 46px;
    height: 135px;
    width: 254px;
    left: 133px;
    top: 460px;
    border-radius: nullpx;
  }
  .card-a-content-pacientes img,
  .card-b-content-pacientes img,
  .card-c-content-pacientes img {
    width: 48px;
    height: 48px;
    left: 133px;
    top: 417px;
    margin-top: 1%;
    border-radius: 0px;
    margin-left: 46px;
  }
  .card-b-content-pacientes {
    position: absolute;
    width: 322px;
    height: 231px;
    left: 443px;
    top: 370px;
    background: white;
    border-radius: 10px;
  }
  .card-c-content-pacientes {
    position: absolute;
    width: 322px;
    height: 231px;
    left: 799px;
    top: 370px;
    background: white;
    border-radius: 10px;
  }
  .card-content-subtitle {
    position: absolute;
    width: 654px;
    height: 148px;
    left: 277px;
    top: 691px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.9%;
    text-align: center;
    color: #000000;
  }
  .divisor {
    position: absolute;
    width: 364px;
    height: 0px;
    left: 422px;
    top: 924px;
    border: 2px solid #1a242e;
  }