$map: (
    /* colores */
    white: #fff,
    black: #1A242E,
    grey:#D9D9D9,
    green: #34DECA,
    light-green: #0CB7F1,
    light-blue: #0595F0,
    blue: #1E43E1,
    dark-blue: #10023A,


    /* bordes */
    border-n: none,
    border-1: 1px solid black,
    border-2: 4px solid black,

    /* box-shadow */
    box-shadow-ligth: 1px 5px 10px rgba(0, 0, 0, 0.295),
    box-shadow-1: 20px 15px 25px rgba(0, 0, 0, 0.300),
    box-shadow-2: 20px 15px 25px rgba(0, 0, 0, 0.600),
    box-shadow-3: 20px 15px 25px rgba(0, 0, 0, 0.900),

    /* Animaciones*/
    scale-low: scale(1.03),
    scale-standard: scale(1.1),
    scale-medium: scale(1.2),
    scale-big: scale(1.4),
    all-1s: all 1s,
    all-2s: all 2s,
    all-3s: all 3s,
)