
/* header */
.presentation-ibox {
    background-image: url("../img/productos/ibox/presentacion-ibox.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    margin: 0.5rem auto;
    border-radius: 5px;
        .card-ibox {
        margin-top: 3rem;
        width: 500px;
        height: 300px;
        background-color: map-get($map, white );
        border-radius: 10px;
        h2 {
            font-size: 45px;
            line-height: 62,73px;
            span {
                color:map-get($map, light-blue );
            }
        }
        p {
            font-size: 25px;
            line-height: 33,6px;

        }
        }
}

.beneficios {
    
    img {
        border-radius: 10px;
    }
    p {
        font-size: 15px;
    }
}


/* main */
.cards-ibox {
    position: relative;
    bottom: 72rem;
    .card {
        border: none;
        box-shadow: map-get($map, box-shadow-ligth );
    }
}

