/* Ihos */
.hospitalizacion {
    background-image: url("../img/imagenes-background/Rectangle-LightBlue.png");
    height: 466px;
    width: 100%;
        h3 {
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: 63px;
            letter-spacing: 100em;
            text-align: center;

        }
        p {
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: center;

        }
}