/* Ihos */



.presentation-itraz {
    padding: 6rem;
    .card-itraz{
        position: absolute;
        top: 10rem;
        width: 550px;
        height: 300px;
        background-color: map-get($map, white );
        border-radius: 10px;
        h2 {
            font-size: 45px;
            line-height: 62,73px;
            span {
                color:map-get($map, light-blue );
            }
        }
    }

    img {
        height: 410px;
        width: 600px;
        border-radius: 10px;

    }
}



.itraz-intro {
    h5 {
        margin-bottom: 1.5rem;
    }
    .col-6 {

        margin: 1rem 0;
    }
}


.cards-itraz {
    margin: 0 5rem;
    padding: 5rem;
    p {
        font-size: 18px;
        line-height: 24,19px;
    }
    .card {
        border: none;
        box-shadow: map-get($map, box-shadow-ligth );
    }

    .datos-secundarios {
        margin: 4rem 0;
    }
}

