/*Seccion Presentacion */
.container-presentation {
    background-image: url("../img/imagenes-background/header-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    .presentation {
        display: flex;
        width: 100%;
            h2 {
                
                color: map-get($map, dark-blue );
                font-size: 90px;
                font-style: normal;
                font-weight: 700;
                line-height: 99px;
                letter-spacing: 0em;
                text-align: left;
    
            }
    }
}

/* seccion INTRODUCCION */
.section-introdution {
    position: relative;
    bottom: 10rem;
    .card {
        border: map-get($map, border-1 );
        min-height: 15rem;
        .m-height {
            min-height: 8rem;
        }
    }
}






/*Seccion Desarrollo - Implementacion - Soporte */
/* En Esta seccion esta todo hecho via Bootstrap */
/* Salvo la clase CARD y la clase CENTER que son genericas*/
.section-faster-and-secure {
    h2 {
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }
    p {
        line-height: 3rem;
        font-size: 2rem;
    }

}



/*Seccion Nuestros productos */
.products {
    background-image: url("../img/imagenes-background/bg-cards.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 3rem;
    padding-bottom: 3rem;
        h2 {
            padding: 1.5rem;
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 1.2;
        
        }
        /*----------- primera columna */
        .container-products {
            margin: 1rem 0.5rem 0.5rem 2rem;
            .card-product {
                height: 50%;
                    .main-content {
                        min-height: 230px;
                        background: #fff;
                        margin: 0.5rem;
                            h4 {
                                margin: 1.5rem;
                                font-weight: bold;
                                font-size: 1.5rem;
                            }
                            p {
                                font-size: 1.5rem;
                                margin: 0.8rem;
                                padding-left: 0.8rem;
                            }
                            .container-btn {
                                display: flex;
                                justify-content: end;
                                    .btn {
                                        border: 1px solid black;
                                        margin: 0.25rem;
                                        &:hover {
                                            border: none;
                                        }
                                    }
                            }
                    }
            }
        }
}

/*--------------- Segunda Columna */
.sidebar-content {
    display: flex;
    min-height: 150px;
    margin-bottom: 30px;
    background: #fff;
        .content-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                h4 {
                    margin: 1rem;
                }
                p {
                    margin: 1rem;
                }
                .container-btn {
                    margin: 1rem auto;
                        .btn {
                            border: 1px solid black;
                            margin: 0.50rem;
                            &:hover {
                                border: none;
                            }
                }
            }
    }
}



/* Seccion NOSOTROS */
#nosotros {
    .parrafos {
        position: relative;
        right: 5rem;
            li {
                list-style: none;
                margin: 1rem;
                padding: 1rem;
            }
    }
    .content {
        min-height: 45rem;
        background: #dbdfe5;
            .m-height-2 {
                min-width: 30rem;
                min-height: 50rem;
            }
    }
    
    /* 
    .btn-nav {
        
    } */
}